body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nu.jpg') no-repeat center center;
    background-size: cover;
}
