body {
    font-family: 'Roboto', sans-serif; /* Измененный шрифт */
    background-color: #e0f7fa; /* Голубой фон */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8ab6d6; /* Мягкий цвет */
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    border-bottom: none; /* Удаление нижней границы */
}

nav ul li a:hover {
    color: #f6caca;
    border-bottom: none; /* Удаление нижней границы при наведении */
}

main {
    padding: 60px 20px;
    text-align: center;
    background: url('images/nu.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif; /* Измененный шрифт */
}

main p {
    font-size: 1.2em;
}

section {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    color: #333;
}

section h2 {
    color: #333; /* Измененный цвет */
    border-bottom: none; /* Удаление нижней границы */
}

footer {
    background-color: #8ab6d6; /* Мягкий цвет */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header, footer {
        padding: 10px 0;
    }

    main {
        padding: 40px 20px;
    }

    nav ul li {
        margin: 0 10px;
    }

    main h1 {
        font-size: 2em;
    }

    main p {
        font-size: 1em;
    }
}
